 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Nunito+Sans:ital,wght@0,300;0,500;0,600;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,700&display=swap');

 :root {
     --global-bg: black;
     /*#22272e*/
     --global-color: aliceblue;
     --global-box-bg: #1c2128;
     --new-box-bg: #2d333b;
     --thick-grey: rgba(28, 28, 28, 0.5);
     --font-lato: 'Lato', sans-serif;
     --font-nunito: 'Nunito Sans', sans-serif;
     --font-roboto: 'Roboto', sans-serif;
     --font-poppins: 'Poppins', sans-serif;
     --color-shadow-medium: 0 3px 6px #1c2128;
     --color-shadow-large: 0 8px 24px #1c2128;
     --color-shadow-extra-large: 0 10px 15px -10px #b8b8b8;
     --download-progress: 0%;
     --dager-bg: red;
     --text-color: white;
     --video-play-time: 0;
     --display-videoplayback-controls: 'none';
     --preview-position: 0
 }

 * {
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

 body,
 html,
 #app,
 .app,
 app {
     padding: 0;
     margin: 0;
     background: repeating-radial-gradient(circle at 0 0, var(--global-bg), var(--global-bg));
     color: var(--global-color);
     font-family: var(--font-poppins);
     line-height: 1.4;
     font-weight: 500;
     height: 100vh;
     width: 100vw;
     overflow: hidden;
 }

 button.active {
     background: green !important;
 }


 ::-webkit-scrollbar {
     background: transparent;
     width: 6px;


     display: none;
 }

 ::-webkit-scrollbar-thumb {
     width: 6px;
     border-radius: 2em;
     padding: 10px;
 }

 ::-webkit-scrollbar-thumb {
     background: var(--thick-grey);
     width: 5px;
     cursor: grab;
 }

 h3,
 h2 {
     margin: 0;
     padding: 0;
     font-size: 14px;
     /* text-transform: uppercase; */
 }

 .h2-headline {
     color: var(--text-color);
     width: 100%;
     font-size: 18px;
     font-weight: 600;
 }

 span.blink {
     opacity: .7;
 }

 .flex-align-center {
     display: flex;
     align-items: center;
     gap: .4rem;
     font-size: 14px;
 }

 p {
     margin: 0;
     padding: 0;
     width: 100%;
     font-size: 13px;
     color: var(--global-color);
     opacity: .7;
 }

 a {
     text-decoration: none;
     color: var(--global-color);
     opacity: .7;
 }

 hr {
     opacity: .1;
     color: red;
 }

 .layouts {
     width: 100%;
     height: max-content;
     overflow: hidden;
     height: 100%;
 }

 .layout-contents {
     width: 670px;
     max-width: 100%;
     margin-inline: auto;
     height: 100dvb;
     overflow: hidden;
     overflow-y: auto;
     padding-inline: .5rem;
     /* background: var(--global-box-bg); */
 }

 .space-between {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: .5rem;
     flex-grow: 1;
 }

 button.is-icon {
     padding: .3rem !important;
     border-radius: 50px !important;
     aspect-ratio: 1/1 !important;
     min-width: max-content;
     background: var(--thick-grey);
     color: var(--global-color);
     /* box-shadow: 0 0 2px inset var(--global-color); */
 }

 button.is-button {
     background: var(--thick-grey);
     border-radius: 0 !important;
     width: max-content !important;
     padding-inline: .5rem !important;
     color: var(--global-color);
 }

 button.is-danger {
     border-radius: 0 !important;
     width: max-content !important;
     padding-inline: .5rem !important;
     background: var(--dager-bg);
 }

 .transparent,
 button.transparent {
     background: transparent !important;
 }


 .span-text {
     font-size: 12px !important;
     color: var(--global-color);
     opacity: .6;
 }

 .result-list-item {
     width: 100%;
     height: 50px;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     padding: 0;
     margin: 0;
     margin-bottom: 1rem;
 }

 .list-item-caption {
     width: 100%;
     overflow: hidden;
     padding: 0;
     margin: 0;
     text-overflow: ellipsis;
     white-space: nowrap;
     color: var(--text-color);
     text-transform: capitalize;
 }

 .result-list-thumb {
     width: 50px;
     aspect-ratio: 1/1;
     border-radius: 5px;
 }

 .span-text.no-break {
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
 }

 button.bdr-5px {
     border-radius: 5px !important;
 }

 .input-container {
     flex-grow: 1;
     max-width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     position: relative;
     border-radius: 50px;
     /* overflow: hidden; */
 }

 .input-container .search-results {
     width: 100%;
     position: absolute;
     top: 110%;
     background: var(--global-bg);
     box-shadow: var(--color-shadow-extra-large);
     border-radius: 10px;
     min-height: 100px;
     z-index: 5;
     border-radius: 10px;
     overflow: hidden;
     max-height: 50vh !important;
     overflow-y: auto !important;
 }

 .search-results-list {
     width: 100% !important;
 }

 .relative {
     position: relative;
 }

 .user-drop-down {
     position: absolute;
     border-radius: 5px;
     right: 0;
     z-index: 2;
     background: var(--global-bg);
     top: 110%;
     box-shadow: var(--color-shadow-extra-large);
     min-width: 100%;
     padding: .5rem;
 }

 .results-container {
     padding: .4rem;

 }

 .input-container button.is-button {
     border-top-right-radius: 50px !important;
     border-bottom-right-radius: 50px !important;
 }

 .text-input {
     height: 35px;
     border: none;
     outline: none;
     background: transparent;
     color: white;
     padding-inline: 1rem;
     flex-grow: 1;

 }

 .text-input::placeholder {
     color: var(--global-color);
     opacity: .5;
     font-weight: 300;
 }

 .searcch-bar-contaner {
     width: 100%;
     /* background: red; */
     border-radius: 10px;
     margin-block: 1rem;
     display: flex;
     align-items: center;
     padding: .6rem;
     background: var(--thick-grey);
 }

 .section-container {
     width: 100%;
     border-radius: 10px;
     position: relative;
     margin-bottom: 1rem
 }

 .download-options {
     width: 100%;
     /* background: var(--global-box-bg); */
     /* border-bottom-left-radius: 10px; */
     z-index: 2;
     /* position: absolute; */
     right: 1rem;
     isolation: isolate;
     bottom: 1rem;
     /* box-shadow: 0 0 1px inset gray; */
     border-radius: 6px;
     z-index: 10000;
     flex-wrap: wrap;
     display: flex;
     gap: .4rem;
 }

 /* .download-options::after {
     width: 1000px;
     height: 1000px;
     background: rgba(13, 10, 18, 0.233);
     content: '';
     position: absolute;
     right: 0;
     bottom: 0;
     filter: blur(13px);
     padding: .6rem;
     z-index: -1;
 } */

 .download-options button.is-button {
     border-radius: 5px !important;
     margin: auto !important;
     flex-grow: 1 !important;
     width: max-content;
 }

 .download-progress-wrapper {
     background: var(--new-box-bg);
     border-radius: 10px;
     overflow: hidden;
 }

 .download-progress {
     position: relative;
     overflow: hidden !important;
     isolation: isolate;
     overflow: hidden;
 }

 .download-progress::after {
     width: var(--download-progress);
     height: 100%;
     background: green;
     position: absolute;
     left: 0;
     top: 0;
     content: '';
     z-index: -1;
 }

 .movie-view-card-container {
     width: 100%;
     overflow: hidden;
     max-height: max-content;
     /* border-bottom: solid red thick;
    border-top: solid thick red; */
 }

 .section-container::after {
     width: 100%;
     height: 100%;
     /* background: var(--global-box-bg); */
     position: absolute;
     left: 0;
     top: 0;
     content: '';
     border-radius: inherit;
     z-index: -2;
 }

 .video-wrapper {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     overflow: hidden;
     position: relative;
     cursor: pointer;
 }

 .video-paused-overlay {
     width: 170px;
     max-width: 100%;
     aspect-ratio: 16/9;
     position: absolute;
     transform: translate(0, -50%);
     right: 1rem;
     top: 50%;
     z-index: 2;
     object-fit: cover;
     -o-object-fit: contain;
     border-radius: 5px;
 }

 .video-player {
     width: 100%;
     object-fit: contain;
     object-position: center;
     -o-object-fit: contain;
     flex-grow: 1;
     max-height: 70dvh;
 }

 video.video-player,
 video[poster] {
     width: 100%;
     object-fit: cover;
     -o-object-fit: cover;
     object-position: center;
     -o-object-position: center;
 }



 /* .video-player::after {
     position: absolute;
     left: 0;
     bottom: 0;
     content: '';
     width: 100%;
     height: 100%;
     background: red;
     z-index: 2;
 } */

 .video-content-info {
     width: 100%;
     border-radius: 10px;
     margin-top: 1rem;
 }

 .video-content-infos {
     width: 100%;
     border-radius: 10px;
     margin-top: .5rem;
     min-height: min-content;
     height: max-content;
     background: var(--thick-grey);
     overflow: hidden;
     transition: height 700ms;
 }

 .video-content-info hr {
     margin-top: 0;
 }

 .video-content-info p {
     padding-inline: .7rem;
 }

 .video-content-info h2,
 h3 {
     padding-inline: .7rem;
 }

 .video-content-info .play-info {
     padding: .7rem;
     background: red;
     transition: background 900ms;
 }

 .video-content-infos p {
     max-height: fit-content;
     width: 100%;
     word-break: keep-all;
     white-space: pre-wrap;
     overflow: hidden;
     text-overflow: ellipsis;
     line-height: 1.5;
     font-weight: 400;
     font-size: 14px;
 }

 .video-content-info .h2-headline {
     max-width: 60%;
     word-break: keep-all;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     min-height: 30px;
 }

 .card-caption {
     position: absolute;
     left: 0;
     bottom: 0;
     z-index: 1;
     background: var(--global-bg);
     border-radius: 10px;
     width: 100%;
     height: 0;
     overflow: hidden;
     padding: 0;
     transition: height 600ms;
     max-height: 70%;
     backdrop-filter: blur(36px);
     backdrop-filter: blur(36px);
     padding-inline: .5rem;
     color: white;
     font-size: 13px;
     font-weight: 300;
 }

 .slider-thumb-wrap:hover .card-caption {
     height: 140px;
 }

 .slider-card-wrapper {
     width: 100%;
     display: flex;
     gap: 1.4rem;
     border-radius: 10px;
     justify-content: space-between;
     margin-top: 1rem;
     flex-wrap: wrap;
     position: relative;
 }

 .file-slide-card {
     border-radius: 10px;
     width: clamp(20% - 1rem, 90px, 100%);
     cursor: pointer;
     flex-grow: .3;
     display: flex;
     flex-direction: column;
     position: relative;
 }

 .file-slide-card .h3-headline {
     font-size: 12px;
     margin: 0;
     width: 100%;
     font-weight: 400;
     word-break: keep-all;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     -o-text-overflow: ellipsis;
     -ms-text-overflow: ellipsis;
     text-orientation: sideways;
 }

 .absolute-center {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -5%);
     width: 100%;
     height: 100%;
     z-index: 3;
     background: red;
 }

 .slider-thumb-wrap {
     border-radius: 10px;
     overflow: hidden;
     flex-grow: 1;
     width: 100%;
     display: flex;
     position: relative;
     box-shadow: 0 0 1px white;
 }

 .slide-card-thumb {
     object-fit: cover;
     -o-object-fit: cover;
     object-position: center;
     -o-object-position: center;
     flex-grow: 1;
     width: 100%;
     height: 100%;
 }

 .file-slide-card .h3-headline {
     margin-top: .4rem;
     line-height: 1.4;
     text-transform: capitalize;
     position: relative;
 }

 .headline {
     padding-inline: 1rem;
 }

 input[type="range"] {
     -webkit-appearance: none;
     appearance: none;
     background: transparent;
     cursor: pointer;
     /* width: 15rem; */
 }

 input[type="range"]:focus {
     outline: none;
 }

 input[type="range"]::-webkit-slider-runnable-track {
     background-color: #053a5f;
     border-radius: 0.5rem;
     height: 0.5rem;
 }

 input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     margin-top: -8px;
     background-color: var(--global-color);
     height: 1.45rem;
     width: .6rem;
     border-radius: 50px;
 }

 input[type="range"]:focus::-webkit-slider-thumb {
     border: 1px solid #053a5f;
     outline: 3px solid #053a5f;
     outline-offset: 0.125rem;
 }

 input[type="range"]::-moz-range-track {
     background-color: #053a5f;
     border-radius: 0.5rem;
     height: 0.5rem;
 }

 input[type="range"]::-moz-range-thumb {
     border: none;
     border-radius: 0;
     background-color: #5cd5eb;
     height: 2rem;
     width: 1rem;
 }

 input[type="range"]:focus::-moz-range-thumb {
     border: 1px solid #053a5f;
     outline: 3px solid #053a5f;
     outline-offset: 0.125rem;
 }

 @media (max-width:600px) {
     .layout-contents {
         padding: 0;
     }

     .file-slide-card {
         width: clamp(33% - 1rem, 200px, 100%);
         flex-grow: 1;
     }

     .searcch-bar-contaner {
         margin: 0;
         border-radius: 0;
         position: sticky;
         position: -webkit-sticky;
         top: 0;
         z-index: 5;
         background: var(--global-bg);
     }

     .input-container .search-results {
         position: fixed;
         top: 3.4rem;
         left: 0;
         width: 100vw;
         border-top-left-radius: 0;
         border-top-right-radius: 0;
     }

     .section-container {
         padding-inline: 0;
     }

     .section-container::after {
         display: none;
     }

     .video-wrapper {
         border-radius: 0;
     }

     .video-content-info {
         /* padding-inline: .6rem; */
         border-radius: 0;
     }

     .video-content-infos {
         border-radius: 0;
     }

     ::-webkit-scrollbar {
         display: none;
     }

     .slider-card-wrapper {
         padding-inline: .6rem;
         flex-grow: 1;
     }

     .section-container .h2-headline {
         padding-inline: .5rem;
     }

 }